<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet prefetch" href="css/styles.css">
        <link rel='stylesheet prefetch' href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic'>
        <link rel='stylesheet prefetch' href='http://fonts.googleapis.com/icon?family=Material+Icons'>
        <link rel='stylesheet prefetch' href='css/vue-material.css'>
    </head>
    <body>
        <div id="root">
            <div>
                <h1 class="md-title">Users</h1>
                <md-button class="md-fab md-fab-bottom-right" @click.native="showingAddModal = true"><md-icon>add</md-icon></md-button>
                
                <md-table>
                    <md-table-header>
                    <md-table-row>
                        <md-table-head>First Name</md-table-head>
                        <md-table-head>Last Name</md-table-head>
                        <md-table-head>Email</md-table-head>
                        <md-table-head>Active</md-table-head>
                        <md-table-head>&nbsp;</md-table-head>
                    </md-table-row>
                    </md-table-header>
                    <md-table-body>
                    <md-table-row>
                        <md-table-cell>
                        <md-input-container>
                            <md-input></md-input>
                        </md-input-container>
                        </md-table-cell>
                        <md-table-cell>
                        <md-input-container>
                            <md-input></md-input>
                        </md-input-container>
                        </md-table-cell>
                        <md-table-cell>
                        <md-input-container>
                            <md-input></md-input>
                        </md-input-container>
                        </md-table-cell>
                        <md-table-cell>
                        <md-switch></md-input>
                        </md-table-cell>
                        <md-button class="md-raised md-primary">Update</md-button>
                        </md-tabel-cell>
                    </md-table-row>
                    </md-table-body>
                </md-table>
            </div>

            <div class="modal" id="addModal" v-if="showingAddModal">
                <div class="modalContainer">
                    <md-toolbar>
                        <div class="md-toolbar-container">
                            <h3 class="md-title">Sidenav content</h3>
                        </div>
                    </md-toolbar>
                    <div class="modalContent">
                        <form novalidate @submit.stop.prevent="submit">
                            <md-input-container>
                                <label>Usuario</label>
                                <md-input v-model="initialValue"></md-input>
                            </md-input-container>

                            <md-input-container>
                                <label>Email</label>
                                <md-input></md-input>
                            </md-input-container>

                            <md-input-container>
                                <label>Mobile</label>
                                <md-input></md-input>
                            </md-input-container>
                            </div>
                                <md-bottom-bar md-theme="teal">
                                    <md-bottom-bar-item md-icon="history" @click.native="showingAddModal = false">Cancelar</md-bottom-bar-item>
                                    <md-bottom-bar-item md-icon="near_me">Nearby</md-bottom-bar-item>
                                </md-bottom-bar>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <script src='vuejs/vue.js'></script>
        <script src='js/vue-material@0.7.1'></script>
        <script src='vuejs/vue.js'></script>
        <script src="app.js"></script>

    </body>
</html>